Repository witooh/agentflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/techleads, @your-org/fe, @your-org/ml

.github/CODEOWNERS:

# CODEOWNERS
# Update these to match your GitHub organization or users.
# Learn more: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
* @your-org/techleads

# App and package ownership (adjust as needed)
/apps/web/ @your-org/fe
/packages/types/ @your-org/techleads
/services/python-ml/ @your-org/ml

T-SUPA-03: add RLS policies for projects and related tables; mark task done
  supabase/migrations/0003_rls_policies.sql
  tasks.md
Owners: @your-org/techleads

ci: fix core redeclaration in review-codex workflow (use injected core)
  .github/workflows/review-codex.yml
Owners: @your-org/techleads

ci: add unit tests workflow (pnpm) and remove review-codex workflow
  .github/workflows/ci-tests.yml
  .github/workflows/review-codex.yml
Owners: @your-org/techleads

T-SUPA-05: add .env.example for Supabase keys and update docs; mark task done
  .env.example
  supabase/README.md
  tasks.md
Owners: @your-org/techleads

feat(git): add GitHub pull request template and clarify git workflow in AGENTS.md
  .github/pull_request_template.md
  AGENTS.md
Owners: @your-org/techleads

feat: complete T-WEB-01 - Next.js scaffold with Tailwind, shadcn/ui, and Zustand
  apps/web/.gitignore
  apps/web/README.md
  apps/web/components.json
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/public/file.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/stores/index.ts
  apps/web/src/stores/useProjectStore.ts
  apps/web/src/stores/useTaskStore.ts
  apps/web/tsconfig.json
  tasks.md
Owners: @your-org/fe, @your-org/techleads

feat: add unit tests and pre-commit hooks
  .husky/pre-commit
  .prettierrc
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/src/components/ui/__tests__/button.test.tsx
  apps/web/src/lib/__tests__/utils.test.ts
  apps/web/src/stores/__tests__/useProjectStore.test.ts
  apps/web/src/stores/__tests__/useTaskStore.test.ts
  apps/web/src/stores/useProjectStore.ts
  apps/web/src/stores/useTaskStore.ts
  package.json
  pnpm-lock.yaml
  tasks.md
Owners: @your-org/techleads, @your-org/fe

test: verify pre-commit hooks work correctly
  .gitignore
  TESTING.md
Owners: @your-org/techleads

docs: improve TESTING.md formatting and add .gitignore
  TESTING.md
Owners: @your-org/techleads

docs: update AGENTS.md for improved formatting and clarity
  AGENTS.md
Owners: @your-org/techleads

feat(web): add Supabase client and tests
  apps/web/TESTING_SUPABASE.md
  apps/web/jest.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/scripts/test-integration-example.sh
  apps/web/src/lib/__tests__/supabase-admin.test.ts
  apps/web/src/lib/__tests__/supabase-integration.test.ts
  apps/web/src/lib/__tests__/supabase.test.ts
  apps/web/src/lib/supabase-admin.ts
  apps/web/src/lib/supabase.ts
  apps/web/src/lib/test-utils.ts
  tasks.md
Owners: @your-org/fe, @your-org/techleads

test(web): fix Jest config and integration test import; align Task type usage in store tests
  apps/web/jest.config.js
  apps/web/src/lib/__tests__/supabase-integration.test.ts
  apps/web/src/stores/__tests__/useTaskStore.test.ts
Owners: @your-org/fe

chore: update pnpm lockfile
  pnpm-lock.yaml
Owners: @your-org/techleads

feat: add .env.backup file and update dev script in package.json
  .env.backup
  apps/web/src/app/layout.tsx
  package.json
Owners: @your-org/techleads, @your-org/fe

feat(web): enhance project detail page and update tasks
  apps/web/src/app/page.tsx
  apps/web/src/app/projects/[projectId]/page.tsx
  tasks.md
Owners: @your-org/fe, @your-org/techleads

feat(web): implement new project creation functionality and enhance UI
  apps/web/src/app/api/projects/__tests__/route.integration.test.ts
  apps/web/src/app/api/projects/__tests__/route.unit.test.ts
  apps/web/src/app/api/projects/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/projects/new/__tests__/page.test.tsx
  apps/web/src/app/projects/new/page.tsx
  tasks.md
Owners: @your-org/fe, @your-org/techleads
